.divide
{
-moz-column-count:5; 
-webkit-column-count:5; 
column-count:5;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 100;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;

}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}


/**
 * Variable power
 */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 100;
  background-color: #ccc;
  background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 25%);
  background-size: 4px 4px;
}
body ul {
  list-style: none;
}
body ul, body li {
  margin: 0;
  padding: 0;
}
.hhh {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

.chart {
  min-height: 400px;
  border-bottom: 1px solid #eee;
  padding: 1em;
}

.chart--headline, .chart--subHeadline {
  text-align: center;
}

.chart--headline {
  position: relative;
  font-weight: 100;
  font-size: 28px;
}


.chart--subHeadline {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
   background-color: #fff;
}

.charts--container {
  background-color: #fff;
  width: 100%;
}
@media screen and (min-width: 1230px) {
  .charts--container {
    max-width: 1230px;
    left: 50%;
    top: 10%;
    margin: 5em auto;
    box-shadow: 0 2em 2em #333;
  }
}

.charts--headline {
  text-align: center;
  color: #444;
  background-color: #fff;
  padding: 1em;
}

.hidden {
  display: none;
}
